@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --font-color1:#fff;
    --font-color2:#000;
    --font-color3:rgb(14, 126, 201);
    --bg-color1: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.3));
    --bg-color2:#ccc;
    --bg-color3: #000;
}
  
body{
    width: 100%;
    background: var(--bg-color2);
}

.imglogo{
    height: 45px;
    width: 150px;
}

header{
    height: 70vh;
    width: 100%;
    background-image: url(../assents/planeta2.png); /*foto do planeta*/
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.button-mudaCor{
    position: relative;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    box-shadow: 0 0 2.5px 0 #39a2db59;
    cursor: pointer;
    background-color: #ffffff;
}
.ball{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    border-radius: 50%;
    background-color: #053742;
    transition: left 1s;
}
.ball-move{
    left: calc(100% - 40px);
}

.white{
    background-color: #ffffff;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}



@media screen and (max-width: 600px) {

    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: flex;
        justify-content: center;
        padding-top: 1.2rem;
    }
    .icon{
        height: 60px;
    }

   .open {
        display: block;
    }

    .button {
        width: 70px;
        height: 30px;
        top: 10px;
        right: 10px;
        font-size: 0.8rem; /* Reduzindo o tamanho da fonte se houver texto no botão */
    }
}



